* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #0B2434;
}

main {
  margin: 0 auto;
  width: 50vw;
  padding: 40px;
}

.tenziesContainer {
  border-radius: 25px;
  background-color: #F5F5F5;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 35px;
}

.titre,
.description {
  margin: 0;
  padding: 0 10%;
}

.rollsCounter>button {
  width: 100%;
}

.rollsCounter {
  padding-top: 30px
}

.numbersContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  row-gap: 18px;
}

.btn-num {
  width: 35px;
  height: 35px;
  color: #2B283A;
  filter: drop-shadow(0px 2px 1px rgb(125, 125, 125));
  font-size: 21px;
}

.btn-num:hover {
  background-color: #59E391;
}

.dice,
.btn-num,
.rolls,
.time {
  border-radius: 4px;
  border: none;
  font-weight: 700;
}

.dice {
  background-color: #5035FF;
}

.rolls {
  background-color: #ff8235;

}

.time {
  background-color: #3568ff;
  margin-top: 30px;
}

.dice,
.rolls,
.time {
  width: 150px;
  height: 50px;
  color: #FFFFFF;
  font-size: 16px;
}

.numbersContainer {
  padding: 30px;
}

.center {
  left: 50%;
}

.center-right,
.center-left,
.center {
  top: 50%;
}

.top-right,
.center-right,
.bottom-right {
  left: calc(50% + 8px);
}

.top-left,
.center-left,
.bottom-left {
  left: calc(50% - 8px);
}

.top-left,
.top-right {
  top: calc(50% - 9px);
}

.bottom-right,
.bottom-left {
  top: calc(50% + 9px);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.center,
.center-right,
.center-left,
.top-left,
.top-right {
  transform: translate(-50%, -50%) rotate(45deg);
}

.top-left,
.top-right,
.bottom-right,
.bottom-left,
.center,
.center-right,
.center-left {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: calc(6px / 2);
  background-color: #2B283A;
}